<?xml version="1.0"?>
<config>
    <sections>
        <dev>
            <groups>
                <js>
                    <fields>
                        <speedster_minify_blacklist translate="label">
                            <label>Exclude from Minify</label>
                            <comment></comment>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </speedster_minify_blacklist>
                    </fields>
                </js>
                <css>
                    <fields>
                        <speedster_minify_blacklist translate="label">
                            <label>Exclude from Minify</label>
                            <comment></comment>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </speedster_minify_blacklist>
                    </fields>
                </css>
            </groups>
        </dev>
    </sections>
</config>
